/* Ultility Styles */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Button Classes */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light {
    background: var(--light-color);
    color: #333;
}

.btn-light:hover {
    background: opacity(0.8);
    color: var(--primary-color);
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-dark:hover {
    background: opacity(0.8);
    color: var(--dark-color);
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Styles */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 40px 0 20px 0;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px 0;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 30px 0 20px 0;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px 0;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px 0;
}

.text-center {
    text-align: center;
}

/* Card Style */

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/* Background Styles */

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-black {
    background: #000;
    color: #fff;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

